<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>GO Term id</th>
      <th>GO Term name</th>
      <th>P-value</th>
      <th>Q-value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>GO:0006614</td>
      <td>SRP-dependent cotranslational protein targetin...</td>
      <td>1.192948e-21</td>
      <td>7.280564e-18</td>
    </tr>
    <tr>
      <th>1</th>
      <td>GO:0006412</td>
      <td>translation</td>
      <td>7.108916e-19</td>
      <td>2.169286e-15</td>
    </tr>
    <tr>
      <th>2</th>
      <td>GO:0032981</td>
      <td>mitochondrial respiratory chain complex I asse...</td>
      <td>4.997204e-18</td>
      <td>1.016598e-14</td>
    </tr>
    <tr>
      <th>3</th>
      <td>GO:0006364</td>
      <td>rRNA processing</td>
      <td>9.268896e-17</td>
      <td>1.414202e-13</td>
    </tr>
    <tr>
      <th>4</th>
      <td>GO:0019083</td>
      <td>viral transcription</td>
      <td>3.762213e-15</td>
      <td>4.592157e-12</td>
    </tr>
    <tr>
      <th>5</th>
      <td>GO:0000184</td>
      <td>nuclear-transcribed mRNA catabolic process, no...</td>
      <td>4.821327e-15</td>
      <td>4.904093e-12</td>
    </tr>
    <tr>
      <th>6</th>
      <td>GO:0006120</td>
      <td>mitochondrial electron transport, NADH to ubiq...</td>
      <td>1.255145e-13</td>
      <td>1.094307e-10</td>
    </tr>
    <tr>
      <th>7</th>
      <td>GO:0006413</td>
      <td>translational initiation</td>
      <td>1.583878e-13</td>
      <td>1.208301e-10</td>
    </tr>
    <tr>
      <th>8</th>
      <td>GO:0002181</td>
      <td>cytoplasmic translation</td>
      <td>6.462330e-13</td>
      <td>4.382178e-10</td>
    </tr>
    <tr>
      <th>9</th>
      <td>GO:0070126</td>
      <td>mitochondrial translational termination</td>
      <td>9.717717e-13</td>
      <td>5.930723e-10</td>
    </tr>
    <tr>
      <th>10</th>
      <td>GO:0070125</td>
      <td>mitochondrial translational elongation</td>
      <td>1.921221e-12</td>
      <td>1.065928e-09</td>
    </tr>
    <tr>
      <th>11</th>
      <td>GO:0031145</td>
      <td>anaphase-promoting complex-dependent catabolic...</td>
      <td>5.053152e-06</td>
      <td>2.569949e-03</td>
    </tr>
    <tr>
      <th>12</th>
      <td>GO:0000398</td>
      <td>mRNA splicing, via spliceosome</td>
      <td>1.021332e-05</td>
      <td>4.794762e-03</td>
    </tr>
    <tr>
      <th>13</th>
      <td>GO:0051436</td>
      <td>obsolete negative regulation of ubiquitin-prot...</td>
      <td>2.225025e-05</td>
      <td>9.699518e-03</td>
    </tr>
    <tr>
      <th>14</th>
      <td>GO:0010972</td>
      <td>negative regulation of G2/M transition of mito...</td>
      <td>5.684095e-05</td>
      <td>2.312669e-02</td>
    </tr>
    <tr>
      <th>15</th>
      <td>GO:0042776</td>
      <td>mitochondrial ATP synthesis coupled proton tra...</td>
      <td>9.541650e-05</td>
      <td>3.639543e-02</td>
    </tr>
    <tr>
      <th>16</th>
      <td>GO:0051437</td>
      <td>obsolete positive regulation of ubiquitin-prot...</td>
      <td>9.559096e-05</td>
      <td>3.431715e-02</td>
    </tr>
    <tr>
      <th>17</th>
      <td>GO:0031146</td>
      <td>SCF-dependent proteasomal ubiquitin-dependent ...</td>
      <td>9.778789e-05</td>
      <td>3.315553e-02</td>
    </tr>
  </tbody>
</table>