<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>GO Term id</th>
      <th>GO Term name</th>
      <th>P-value</th>
      <th>Q-value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>GO:0033108</td>
      <td>mitochondrial respiratory chain complex assembly</td>
      <td>7.946000e-15</td>
      <td>5.731450e-11</td>
    </tr>
    <tr>
      <th>1</th>
      <td>GO:0010257</td>
      <td>NADH dehydrogenase complex assembly</td>
      <td>5.560805e-14</td>
      <td>2.005504e-10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>GO:0032981</td>
      <td>mitochondrial respiratory chain complex I asse...</td>
      <td>5.560805e-14</td>
      <td>2.005504e-10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>GO:0007005</td>
      <td>mitochondrion organization</td>
      <td>1.646581e-11</td>
      <td>2.969198e-08</td>
    </tr>
    <tr>
      <th>4</th>
      <td>GO:0002181</td>
      <td>cytoplasmic translation</td>
      <td>1.230654e-08</td>
      <td>1.775342e-05</td>
    </tr>
    <tr>
      <th>5</th>
      <td>GO:0006412</td>
      <td>translation</td>
      <td>1.902451e-08</td>
      <td>2.287063e-05</td>
    </tr>
    <tr>
      <th>6</th>
      <td>GO:0010467</td>
      <td>gene expression</td>
      <td>4.260698e-08</td>
      <td>4.390345e-05</td>
    </tr>
    <tr>
      <th>7</th>
      <td>GO:0043043</td>
      <td>peptide biosynthetic process</td>
      <td>5.677223e-08</td>
      <td>5.118727e-05</td>
    </tr>
    <tr>
      <th>8</th>
      <td>GO:0043604</td>
      <td>amide biosynthetic process</td>
      <td>5.440547e-06</td>
      <td>4.360296e-03</td>
    </tr>
    <tr>
      <th>9</th>
      <td>GO:0006518</td>
      <td>peptide metabolic process</td>
      <td>6.144264e-06</td>
      <td>4.431858e-03</td>
    </tr>
    <tr>
      <th>10</th>
      <td>GO:0034622</td>
      <td>cellular protein-containing complex assembly</td>
      <td>8.579239e-06</td>
      <td>5.625641e-03</td>
    </tr>
    <tr>
      <th>11</th>
      <td>GO:0006396</td>
      <td>RNA processing</td>
      <td>7.174378e-05</td>
      <td>4.312399e-02</td>
    </tr>
    <tr>
      <th>12</th>
      <td>GO:0001836</td>
      <td>release of cytochrome c from mitochondria</td>
      <td>8.774205e-05</td>
      <td>4.868334e-02</td>
    </tr>
  </tbody>
</table>