<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ENSG00000268713</th>
      <th>ENSG00000273466</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ENSG00000273391</td>
      <td>ENSG00000267100</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ENSG00000273391</td>
      <td>ENSG00000179743</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ENSG00000273391</td>
      <td>ENSG00000270761</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ENSG00000273391</td>
      <td>ENSG00000260805</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ENSG00000273391</td>
      <td>ENSG00000272853</td>
    </tr>
    <tr>
      <th>5</th>
      <td>ENSG00000273391</td>
      <td>ENSG00000260081</td>
    </tr>
    <tr>
      <th>6</th>
      <td>ENSG00000273391</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ENSG00000276529</td>
      <td>ENSG00000247092</td>
    </tr>
    <tr>
      <th>8</th>
      <td>ENSG00000233223</td>
      <td>ENSG00000248367</td>
    </tr>
    <tr>
      <th>9</th>
      <td>ENSG00000233223</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>10</th>
      <td>ENSG00000233223</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>11</th>
      <td>ENSG00000233223</td>
      <td>ENSG00000271869</td>
    </tr>
    <tr>
      <th>12</th>
      <td>ENSG00000255153</td>
      <td>ENSG00000273084</td>
    </tr>
    <tr>
      <th>13</th>
      <td>ENSG00000255153</td>
      <td>ENSG00000227946</td>
    </tr>
    <tr>
      <th>14</th>
      <td>ENSG00000255153</td>
      <td>ENSG00000272086</td>
    </tr>
    <tr>
      <th>15</th>
      <td>ENSG00000226179</td>
      <td>ENSG00000260778</td>
    </tr>
    <tr>
      <th>16</th>
      <td>ENSG00000226179</td>
      <td>ENSG00000273466</td>
    </tr>
    <tr>
      <th>17</th>
      <td>ENSG00000226179</td>
      <td>ENSG00000272807</td>
    </tr>
    <tr>
      <th>18</th>
      <td>ENSG00000269893</td>
      <td>ENSG00000269888</td>
    </tr>
    <tr>
      <th>19</th>
      <td>ENSG00000271737</td>
      <td>ENSG00000272449</td>
    </tr>
    <tr>
      <th>20</th>
      <td>ENSG00000271737</td>
      <td>ENSG00000257605</td>
    </tr>
    <tr>
      <th>21</th>
      <td>ENSG00000271737</td>
      <td>ENSG00000269386</td>
    </tr>
    <tr>
      <th>22</th>
      <td>ENSG00000271737</td>
      <td>ENSG00000275964</td>
    </tr>
    <tr>
      <th>23</th>
      <td>ENSG00000271737</td>
      <td>ENSG00000272523</td>
    </tr>
    <tr>
      <th>24</th>
      <td>ENSG00000271780</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>25</th>
      <td>ENSG00000271780</td>
      <td>ENSG00000270761</td>
    </tr>
    <tr>
      <th>26</th>
      <td>ENSG00000255517</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>27</th>
      <td>ENSG00000272821</td>
      <td>ENSG00000272669</td>
    </tr>
    <tr>
      <th>28</th>
      <td>ENSG00000272821</td>
      <td>ENSG00000260778</td>
    </tr>
    <tr>
      <th>29</th>
      <td>ENSG00000255135</td>
      <td>ENSG00000231663</td>
    </tr>
    <tr>
      <th>30</th>
      <td>ENSG00000255135</td>
      <td>ENSG00000272853</td>
    </tr>
    <tr>
      <th>31</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000267100</td>
    </tr>
    <tr>
      <th>32</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000247092</td>
    </tr>
    <tr>
      <th>33</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>34</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000270761</td>
    </tr>
    <tr>
      <th>35</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000261526</td>
    </tr>
    <tr>
      <th>36</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000272853</td>
    </tr>
    <tr>
      <th>37</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>38</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000232442</td>
    </tr>
    <tr>
      <th>39</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000255224</td>
    </tr>
    <tr>
      <th>40</th>
      <td>ENSG00000260081</td>
      <td>ENSG00000271869</td>
    </tr>
    <tr>
      <th>41</th>
      <td>ENSG00000247092</td>
      <td>ENSG00000260083</td>
    </tr>
    <tr>
      <th>42</th>
      <td>ENSG00000247092</td>
      <td>ENSG00000270761</td>
    </tr>
    <tr>
      <th>43</th>
      <td>ENSG00000247092</td>
      <td>ENSG00000261526</td>
    </tr>
    <tr>
      <th>44</th>
      <td>ENSG00000247092</td>
      <td>ENSG00000234608</td>
    </tr>
    <tr>
      <th>45</th>
      <td>ENSG00000247092</td>
      <td>ENSG00000266402</td>
    </tr>
    <tr>
      <th>46</th>
      <td>ENSG00000247092</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>47</th>
      <td>ENSG00000255198</td>
      <td>ENSG00000260083</td>
    </tr>
    <tr>
      <th>48</th>
      <td>ENSG00000270761</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>49</th>
      <td>ENSG00000270761</td>
      <td>ENSG00000261526</td>
    </tr>
    <tr>
      <th>50</th>
      <td>ENSG00000270761</td>
      <td>ENSG00000257815</td>
    </tr>
    <tr>
      <th>51</th>
      <td>ENSG00000270761</td>
      <td>ENSG00000234608</td>
    </tr>
    <tr>
      <th>52</th>
      <td>ENSG00000270761</td>
      <td>ENSG00000260083</td>
    </tr>
    <tr>
      <th>53</th>
      <td>ENSG00000270761</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>54</th>
      <td>ENSG00000232956</td>
      <td>ENSG00000260260</td>
    </tr>
    <tr>
      <th>55</th>
      <td>ENSG00000272853</td>
      <td>ENSG00000260805</td>
    </tr>
    <tr>
      <th>56</th>
      <td>ENSG00000272853</td>
      <td>ENSG00000261526</td>
    </tr>
    <tr>
      <th>57</th>
      <td>ENSG00000272853</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>58</th>
      <td>ENSG00000272449</td>
      <td>ENSG00000273084</td>
    </tr>
    <tr>
      <th>59</th>
      <td>ENSG00000272449</td>
      <td>ENSG00000248367</td>
    </tr>
    <tr>
      <th>60</th>
      <td>ENSG00000257605</td>
      <td>ENSG00000269386</td>
    </tr>
    <tr>
      <th>61</th>
      <td>ENSG00000260442</td>
      <td>ENSG00000260778</td>
    </tr>
    <tr>
      <th>62</th>
      <td>ENSG00000260442</td>
      <td>ENSG00000260083</td>
    </tr>
    <tr>
      <th>63</th>
      <td>ENSG00000260257</td>
      <td>ENSG00000273466</td>
    </tr>
    <tr>
      <th>64</th>
      <td>ENSG00000266402</td>
      <td>ENSG00000274213</td>
    </tr>
    <tr>
      <th>65</th>
      <td>ENSG00000266402</td>
      <td>ENSG00000260260</td>
    </tr>
    <tr>
      <th>66</th>
      <td>ENSG00000266402</td>
      <td>ENSG00000255224</td>
    </tr>
    <tr>
      <th>67</th>
      <td>ENSG00000266402</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>68</th>
      <td>ENSG00000270605</td>
      <td>ENSG00000234608</td>
    </tr>
    <tr>
      <th>69</th>
      <td>ENSG00000270605</td>
      <td>ENSG00000212694</td>
    </tr>
    <tr>
      <th>70</th>
      <td>ENSG00000270605</td>
      <td>ENSG00000249637</td>
    </tr>
    <tr>
      <th>71</th>
      <td>ENSG00000236017</td>
      <td>ENSG00000248367</td>
    </tr>
    <tr>
      <th>72</th>
      <td>ENSG00000236017</td>
      <td>ENSG00000272669</td>
    </tr>
    <tr>
      <th>73</th>
      <td>ENSG00000257815</td>
      <td>ENSG00000260083</td>
    </tr>
    <tr>
      <th>74</th>
      <td>ENSG00000272523</td>
      <td>ENSG00000260018</td>
    </tr>
    <tr>
      <th>75</th>
      <td>ENSG00000255284</td>
      <td>ENSG00000231663</td>
    </tr>
    <tr>
      <th>76</th>
      <td>ENSG00000255284</td>
      <td>ENSG00000273466</td>
    </tr>
    <tr>
      <th>77</th>
      <td>ENSG00000255284</td>
      <td>ENSG00000260778</td>
    </tr>
    <tr>
      <th>78</th>
      <td>ENSG00000260083</td>
      <td>ENSG00000234608</td>
    </tr>
    <tr>
      <th>79</th>
      <td>ENSG00000260260</td>
      <td>ENSG00000232442</td>
    </tr>
    <tr>
      <th>80</th>
      <td>ENSG00000260260</td>
      <td>ENSG00000236305</td>
    </tr>
    <tr>
      <th>81</th>
      <td>ENSG00000260260</td>
      <td>ENSG00000255224</td>
    </tr>
    <tr>
      <th>82</th>
      <td>ENSG00000260260</td>
      <td>ENSG00000269888</td>
    </tr>
    <tr>
      <th>83</th>
      <td>ENSG00000260260</td>
      <td>ENSG00000197989</td>
    </tr>
    <tr>
      <th>84</th>
      <td>ENSG00000260260</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>85</th>
      <td>ENSG00000267100</td>
      <td>ENSG00000232442</td>
    </tr>
    <tr>
      <th>86</th>
      <td>ENSG00000267100</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>87</th>
      <td>ENSG00000267100</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>88</th>
      <td>ENSG00000267100</td>
      <td>ENSG00000260708</td>
    </tr>
    <tr>
      <th>89</th>
      <td>ENSG00000267100</td>
      <td>ENSG00000271869</td>
    </tr>
    <tr>
      <th>90</th>
      <td>ENSG00000232442</td>
      <td>ENSG00000272669</td>
    </tr>
    <tr>
      <th>91</th>
      <td>ENSG00000232442</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>92</th>
      <td>ENSG00000232442</td>
      <td>ENSG00000255224</td>
    </tr>
    <tr>
      <th>93</th>
      <td>ENSG00000232442</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>94</th>
      <td>ENSG00000232442</td>
      <td>ENSG00000197989</td>
    </tr>
    <tr>
      <th>95</th>
      <td>ENSG00000232442</td>
      <td>ENSG00000271869</td>
    </tr>
    <tr>
      <th>96</th>
      <td>ENSG00000273437</td>
      <td>ENSG00000269386</td>
    </tr>
    <tr>
      <th>97</th>
      <td>ENSG00000273437</td>
      <td>ENSG00000233016</td>
    </tr>
    <tr>
      <th>98</th>
      <td>ENSG00000260708</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>99</th>
      <td>ENSG00000244459</td>
      <td>ENSG00000269386</td>
    </tr>
    <tr>
      <th>100</th>
      <td>ENSG00000244459</td>
      <td>ENSG00000275964</td>
    </tr>
    <tr>
      <th>101</th>
      <td>ENSG00000273466</td>
      <td>ENSG00000260778</td>
    </tr>
    <tr>
      <th>102</th>
      <td>ENSG00000273466</td>
      <td>ENSG00000197180</td>
    </tr>
    <tr>
      <th>103</th>
      <td>ENSG00000273466</td>
      <td>ENSG00000272807</td>
    </tr>
    <tr>
      <th>104</th>
      <td>ENSG00000274213</td>
      <td>ENSG00000197989</td>
    </tr>
    <tr>
      <th>105</th>
      <td>ENSG00000255224</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>106</th>
      <td>ENSG00000255224</td>
      <td>ENSG00000249637</td>
    </tr>
    <tr>
      <th>107</th>
      <td>ENSG00000255224</td>
      <td>ENSG00000272172</td>
    </tr>
    <tr>
      <th>108</th>
      <td>ENSG00000255224</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>109</th>
      <td>ENSG00000236305</td>
      <td>ENSG00000273619</td>
    </tr>
    <tr>
      <th>110</th>
      <td>ENSG00000233016</td>
      <td>ENSG00000261183</td>
    </tr>
    <tr>
      <th>111</th>
      <td>ENSG00000233016</td>
      <td>ENSG00000248367</td>
    </tr>
    <tr>
      <th>112</th>
      <td>ENSG00000233016</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>113</th>
      <td>ENSG00000233016</td>
      <td>ENSG00000203993</td>
    </tr>
    <tr>
      <th>114</th>
      <td>ENSG00000248367</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>115</th>
      <td>ENSG00000248367</td>
      <td>ENSG00000203993</td>
    </tr>
    <tr>
      <th>116</th>
      <td>ENSG00000272669</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>117</th>
      <td>ENSG00000273619</td>
      <td>ENSG00000239569</td>
    </tr>
    <tr>
      <th>118</th>
      <td>ENSG00000273619</td>
      <td>ENSG00000260018</td>
    </tr>
    <tr>
      <th>119</th>
      <td>ENSG00000273619</td>
      <td>ENSG00000273344</td>
    </tr>
    <tr>
      <th>120</th>
      <td>ENSG00000273619</td>
      <td>ENSG00000271869</td>
    </tr>
    <tr>
      <th>121</th>
      <td>ENSG00000239569</td>
      <td>ENSG00000260018</td>
    </tr>
    <tr>
      <th>122</th>
      <td>ENSG00000239569</td>
      <td>ENSG00000273344</td>
    </tr>
    <tr>
      <th>123</th>
      <td>ENSG00000239569</td>
      <td>ENSG00000203993</td>
    </tr>
    <tr>
      <th>124</th>
      <td>ENSG00000239569</td>
      <td>ENSG00000271869</td>
    </tr>
    <tr>
      <th>125</th>
      <td>ENSG00000269386</td>
      <td>ENSG00000275964</td>
    </tr>
    <tr>
      <th>126</th>
      <td>ENSG00000261183</td>
      <td>ENSG00000203993</td>
    </tr>
    <tr>
      <th>127</th>
      <td>ENSG00000261526</td>
      <td>ENSG00000273344</td>
    </tr>
  </tbody>
</table>