<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Contact Us</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link href="/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="/jquery.js"></script>
   
    </head>
    <style>
      /* Message flashing */
      .flash {
        background-color: #FBB0B0 !important;
        padding: 10px !important;
        width: 400px !important;
      }
      .nav li{
 	font-size:20px;
 	font-weight:bold;
      }
      .navbar-brand,
      .navbar-nav li a {
    	line-height: 80px;
    	height: 80px;
    	padding-top: 0px;
      }
      .container{
        margin-top:100px;
        background-color:#D4D4D4;
        padding:1px;
      }
      form div{
        border-style: dotted;
        border-width: 1px;
        border-color: darkred;
        padding:5px;
      }
      #footer {
	  position: relative;
	  height: 100px;
　	  margin-top: -100px;
      }
      #main{
         padding-bottom: 100px; 
      }
      
    </style>
    <body style="background-color:#FAFAD2;">
    <div id="main">
    <nav class="navbar navbar-inverse " style="margin-bottom:50px;" role="navigation">
     <div class="container-fluid">
    	<div class="navbar-header">
        	<a style="font-size:24px; font-weight:bold;"class="navbar-brand" href="/">Home</a>
    	</div>
    	<div>
       		<ul class="nav navbar-nav">
        	    	<li><a href="/analysis">Start Analysis</a></li>
            		<li><a href="/check_result">Check Result</a></li>
            		<li><a href="/guide_book">Guide Book</a></li>
                        <li><a href="/example_data">Example Data</a></li>
            		<li><a href="/contact_us">Contact US</a></li>
        	</ul>
    	</div>
     </div>
    </nav>
   

    <div class="container">
     {% block content %}
    <div class="well well-lg" style="padding:0px; padding-left:5px; width:100%; height:40%;font-size:48px; text-align:center; ">Contact Us</div>
 
    {% if success %}
    <p>Thank you for your message. We'll get back to you shortly.</p>
 
    {% else %}
 
    {% for message in form.name.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
    {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
    {% for message in form.subject.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
    {% for message in form.message.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
    <form action="{{ url_for('contact_us') }}" method="post" style="padding:10px;">
      {{ form.hidden_tag() }}
      <div>
      	{{ form.name.label }}
      	{{ form.name }}<br />
      </div>
      <div>
      	{{ form.email.label }}
      	{{ form.email }}<br />
      </div>
      <div>
      	{{ form.subject.label }}
      	{{ form.subject }}<br />
      </div>
      <div>
      	{{ form.message.label }}
      	{{ form.message }} <br />
      </div>
      {{ form.submit }}
    </form>
 
  {% endif %}
{% endblock %}
  </div>
</div> <!-- contain all elements-->
    <!--Footer-->
  <footer id="footer" class="page-footer font-small blue pt-4 mt-4">
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" style="font-size:30px;background-color:#FFE1AB;margin-top:50px;text-align:center">
        J&H Systems Biology Lab   Dr. Hsueh-Fen Juan and Dr. Hsuan-Cheng Huang
        <img src="/images/J&H.png" style="width:35%;height:3%"> 
    </div>
    <!--/.Copyright-->
  </footer>
   <!--/.Footer-->

    </body>
</html>    


